.head
  border-bottom: 1px solid $grey
  display: flex
  height: 50px
  justify-content: space-between
  padding: 0 45px

  .left
    align-items: stretch
    display: flex
    vertical-align: middle

  .right
    align-items: stretch
    display: flex

  .menu
    padding: 0 20px

  .menu:hover
    color: $blue

  .menu:hover > .options
    opacity: 1

  .options
    opacity: 0
    transition: opacity 0.35s linear
    color: $dark-grey
    background-color: white
    border-color: $grey
    border-radius: 5px
    list-style-type: none
    padding: 15px
    position: absolute
    z-index: 1


  .left > *, .right > *
    align-content: center
    display: flex
    flex-direction: column
    justify-content: center

  .menu
    padding: 0 9px
    cursor: pointer

    &.active
      color: $blue

    &.signup
      background-color: $green
      color: $white

  .search
    position: relative

    .glass
      position: absolute
      left: 10px
      top: 16px

    input
      border: 1px solid $grey
      border-radius: 17px
      padding: 5px 10px 5px 30px
      background-color: $light-grey

      &::-webkit-input-placeholder
        color: $dark-grey

      &::-moz-placeholder
        color: $dark-grey

      &:-ms-input-placeholder
        color: $dark-grey

      &:focus
        outline: 0
        border: 1px solid $blue
        background-color: $white

.tabs
  border-bottom: 1px solid $grey
  display: flex
  height: 50px
  padding: 0 45px

  .center-tabs
    display: flex
    flex-grow: 1
    justify-content: center
    padding: 0 0 0 350px

    .tab
      display: flex
      padding: 0 10px
      font-weight: bold
      flex-direction: column
      justify-content: center

      &.active
        color: $blue
        border-bottom: 2px solid $blue

  .right-tabs
    display: flex

    .tab
      display: flex
      padding: 0 5px
      flex-direction: column
      justify-content: center

.content
  display: flex
  flex-wrap: wrap
  padding: 15px 45px

  .picture-wrapper
    flex: 1 1 30%
    padding-bottom: 18% //altura un 25% del ancho total
    margin: 5px
    position: relative
    .picture
      background-size: cover
      background-position: center
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0

    &:hover > .info
      display: flex
      opacity: 1

    .info
      opacity: 0
      transition: opacity 0.3s linear
      display: flex
      flex-direction: column
      z-index: 1
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      justify-content: space-between

      .top-info.punctuation
        background: linear-gradient(180deg, black, transparent)
        justify-content: space-between
        padding: 10px 10px
        color: white
        text-align: right

      .bottom-info
        background: linear-gradient(0deg, black, transparent)
        display: flex
        color: white
        align-items: center
        justify-content: space-between
        padding: 10px 5px

        .avatar
          display: flex
          height: 20px
          width: 20px
          border-radius: 100%

        .icon
          display: flex
          align-items: center

        .favourite
          padding: 0 5px

        .add-gallery
          padding: 0 5px
