@charset "utf-8"
@import "compass/css3"
@import "assets/**/*"
@import "variables"
@import "pages/**/*"

/* Your code goes here. */
body
  background-color: $white
  color: $black
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif
  font-size: 14px
  margin: 0

h1
  text-align: center
