doctype html
html(lang="en")
  head
    title Easy-Dev
    link(href='style.css', rel='stylesheet')
    script(src='main.js')
  body
    .head
      .left
        .logo
          img(src='/assets/images/logo.png')
        .menu.active Descubrir
          ul.options
            li Fotos
            li Populares
            li Selección de los editores
            li Recientes
            li Nuevas
            li Places
            li Galerías
        .menu Classes
        .menu Blog
          ul.options
            li News
            li Education
            li Inspiration
            li Desing
        .menu About
        .menu Business
          ul.options
            li Studio
            li Markerplace
            li Licencia
      .right
        .search
          .search-inner
            span.glass &#128269;
            input(placeholder='Búsqueda')
        .menu.login Iniciar sesion
        .menu.signup Crear cuenta

    .tabs
      .center-tabs
        .tab EDITORES
        .tab.active POPULARES
        .tab RECIENTES
        .tab NUEVAS
        .tab PLACES
        .tab GALERÍAS
      .right-tabs
        .tab Todas las categorías &#8964;
        .tab All photographers &#8964;
        .tab Pulso &#8964;

    .content
      .picture-wrapper
        .picture(style='background-image: url("/assets/images/500px1.jpg")')
        .info
          .top-info.punctuation 99.9
          .bottom-info
            img.avatar(src='/assets/images/avatar.jpg')
            .icon
              .favourite &#x2661;
              .add-gallery &#8862;
      .picture-wrapper
        .picture(style='background-image: url("/assets/images/500px2.jpg")')
        .info
          .top-info.punctuation 99.9
          .bottom-info
            img.avatar(src='/assets/images/avatar.jpg')
            .icon
              .favourite &#x2661;
              .add-gallery &#8862;
      .picture-wrapper
        .picture(style='background-image: url("/assets/images/500px3.jpg")')
        .info
          .top-info.punctuation 99.9
          .bottom-info
            img.avatar(src='/assets/images/avatar.jpg')
            .icon
              .favourite &#x2661;
              .add-gallery &#8862;
      .picture-wrapper
        .picture(style='background-image: url("/assets/images/500px4.jpg")')
        .info
          .top-info.punctuation 99.9
          .bottom-info
            img.avatar(src='/assets/images/avatar.jpg')
            .icon
              .favourite &#x2661;
              .add-gallery &#8862;
      .picture-wrapper
        .picture(style='background-image: url("/assets/images/500px5.jpg")')
        .info
          .top-info.punctuation 99.9
          .bottom-info
            img.avatar(src='/assets/images/avatar.jpg')
            .icon
              .favourite &#x2661;
              .add-gallery &#8862;
      .picture-wrapper
        .picture(style='background-image: url("/assets/images/500px6.jpg")')
        .info
          .top-info.punctuation 99.9
          .bottom-info
            img.avatar(src='/assets/images/avatar.jpg')
            .icon
              .favourite &#x2661;
              .add-gallery &#8862;
      .picture-wrapper
        .picture(style='background-image: url("/assets/images/500px7.jpg")')
        .info
          .top-info.punctuation 99.9
          .bottom-info
            img.avatar(src='/assets/images/avatar.jpg')
            .icon
              .favourite &#x2661;
              .add-gallery &#8862;
      .picture-wrapper
        .picture(style='background-image: url("/assets/images/500px8.jpg")')
        .info
          .top-info.punctuation 99.9
          .bottom-info
            img.avatar(src='/assets/images/avatar.jpg')
            .icon
              .favourite &#x2661;
              .add-gallery &#8862;
      .picture-wrapper
        .picture(style='background-image: url("/assets/images/500px9.jpg")')
        .info
          .top-info.punctuation 99.9
          .bottom-info
            img.avatar(src='/assets/images/avatar.jpg')
            .icon
              .favourite &#x2661;
              .add-gallery &#8862;
      .picture-wrapper
        .picture(style='background-image: url("/assets/images/500px10.jpg")')
        .info
          .top-info.punctuation 99.9
          .bottom-info
            img.avatar(src='/assets/images/avatar.jpg')
            .icon
              .favourite &#x2661;
              .add-gallery &#8862;
